<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ConSys</title>
	 <link rel="stylesheet" type="text/css" href="/style.css"> 

</head>
<body>
	<div class="container">
<div class="leftpanel">
<div class="brend">ConSys</div>
<ul class="menu">
	<li><a href="#">Профиль</a></li>
	<li><a href="#">Мнемосхема 1</a></li>
	<li><a href="#">Мнемосхема 2</a></li>
	<li><a href="#">Отчёты</a></li>
	<li><a href="#">Календарь</a></li>
	<li><a href="#">Уведамления</a></li>
	</ul>
	

</div>
<div class="topbar">
	<input type="text"/>
	
</div>

<div class="scema">
	<h1>Мнемосхема 1 "Производство, ООВТ, ООГП"</h1>
	<h3>	ООГП</h3>
	<div class="arFrame">
		<div  class="pallette">
		</div>
	</div>
</div>
<div class="infoPanel"></div>



</div>	
</body>
</html>